@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Deseja se cadastrar em algum de nossos cursos? Preencha o formulário abaixo:</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Curso desejado</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Sobrenome</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Telefone</label>
        <input type="phone" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Aceito receber mensagens por Telefone e E-mail</label>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>